     body {
		 font-size: small;
	     font-family: Verdana, Helvetica, Arial, sans-serif;
		 line-height: 1.6em;
	 }
	 
	 h1, h2 {
	     color: #007e7e;
	 }
	 h1 {
	     border-bottom: 1px solid black;
		 font-size: 150%;
	 }
	 h2 {
	     text-decoration: underline;
		 font-size: 130%;
	 }
	 p {
	     color:maroon;
	 }
	 p.greentea {
		 color: green;
	 }
	 p.raspberry {
		 color: blue;
	 }
	 p.blueberry {
		 color: purple;
	 }
